/* Sponsors Container Styling */
.home-sponsors-container {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey);
    padding: 1.5rem 1rem;
    color: var(--color-primary);
  }
  
  .sponsors-title2 {
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .sponsor-carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }
  
  .sponsor-slide {
    padding: 0.75rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 250px !important;
  }
  
  .sponsor-slide img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .sponsor-button {
    display: inline-block;
    padding: 0.5rem 1rem; 
    font-size: 1.4rem; 
    font-weight: 700;
    color: var(--color-black);
    background-color: transparent;
    border: 1.5px solid var(--color-black);
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .sponsor-button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  
  .sponsor-button-container {
    margin-top: 3rem;
  }
  
  .slick-prev,
  .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  
  .slick-prev {
    left: -5%; 
  }
  
  .slick-next {
    right: -5%; 
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    color: var(--color-black);
    opacity: 0.75;
  }
  
  .slick-dots {
    bottom: -40px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: var(--color-black);
  }
  
  .slick-dots li.slick-active button:before {
    color: var(--color-black);
  }
  
  @media (max-width: 1024px) {
    .slick-prev {
      left: -3%; 
    }
    .slick-next {
      right: -3%; 
    }
  }
  
  @media (max-width: 768px) {
    .slick-prev {
      left: -2%; 
    }
    .slick-next {
      right: -2%;
    }
    .sponsor-slide {
      height: 200px !important;
    }
    .sponsor-slide img {
      max-width: 300px;
    }
    .sponsors-title {
      font-size: 3.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .slick-prev,
    .slick-next {
      width: 30px; 
      height: 30px;
    }
    .slick-prev {
      left: -1%; 
    }
    .slick-next {
      right: -1%;
    }
    .sponsor-slide {
      height: 150px !important;
    }
    .sponsor-slide img {
      max-width: 250px;
    }
    .sponsors-title {
      font-size: 3rem;
    }
  }