/* Home Container Styles */
.home-container-1 {
  position: relative;
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/images/background.jpg');
  background-size: cover;
  background-position: center 15%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  animation: fadeInBackgroundColor 0.5s ease-in forwards 0.5s;
}

@media (max-width: 768px) { 
  .home-container-1 {
    background-position: center; 
  }
}

/* Overlay Text and Styling */
.overlay-text {
  position: relative;
  z-index: 2;
  color: var(--color-white);
  text-align: center;
  max-width: 90%;
  padding: 1rem;
  border-radius: 30px;
  transform: translateY(-25%);
  opacity: 0; 
  animation: fadeInOverlay 0.8s ease-in-out forwards 0.3s;
}

@keyframes fadeInOverlay {
  0% { opacity: 0; }
  60% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes fadeInBackgroundColor {
  0% { background-color: black; background-blend-mode: darken; }
  60% { background-color: rgba(0, 0, 0, 0.5); background-blend-mode: darken; }
  100% { background-color: transparent; background-blend-mode: normal; }
}

.fade-in-overlay {
  animation: fadeInOverlay 1.2s ease-in-out;
}

.fade-in-background {
  animation: fadeInBackgroundColor 1.5s ease-in-out;
}

.overlay-text h2 {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  color: var(--color-white);
  margin: 1rem 0;
  animation: fadeInText 0.9s ease-in-out forwards 0.2s;
}

.overlay-text h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Bebas Neue', sans-serif;
  color: var(--color-white);
  margin: 1rem 0;
  opacity: 0; 
  animation: fadeInChampion 1s ease-in-out forwards 0.4s;
}

.divider {
  width: 100%;
  border: 0;
  border-top: 3px solid var(--color-white);
  margin: 0.5rem auto;
  opacity: 0; 
}

.divider-top {
  animation: fadeInLeft 1s ease-in-out forwards 0.2s;
}

.divider-bottom {
  animation: fadeInRight 1s ease-in-out forwards 0.2s;
}

.fade-in-text {
  animation: fadeInText 0.9s ease-in-out forwards 0.2s;
  font-size: 1.8rem;
}

@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-40%); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(40%); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInChampion {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Scroll Indicator Styling */
.scroll-indicator {
  position: absolute;
  bottom: 25vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--color-white);
  opacity: 0;
  animation: fadeInText 1s ease-in-out forwards 1s;
}

@media (max-width: 600px) {
  .scroll-indicator {
    bottom: 35vh; 
  }
}

.scroll-text {
  font-size: 1rem;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 0.5rem;
  opacity: 1; 
}

.arrow-down {
  width: 24px;
  height: 24px;
  border-left: 3px solid var(--color-white);
  border-bottom: 3px solid var(--color-white);
  transform: rotate(-45deg);
  margin: 0 auto;
  opacity: 0; 
  animation: fadeInArrow 1s ease-in-out forwards 1.5s, pointUpAndDown 1.5s infinite 5s; 
}

@keyframes fadeInArrow {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pointUpAndDown {
  0% { transform: translateY(0) rotate(-45deg); }
  50% { transform: translateY(10px) rotate(-45deg); }
  100% { transform: translateY(0) rotate(-45deg); }
}

/* Buttons */
.find-out-more-button,
.view-all-button {
  display: inline-block;
  padding: 0.5rem 1rem; 
  font-size: 1.4rem; 
  font-weight: 700;
  color: var(--color-white);
  background-color: transparent;
  border: 1.5px solid var(--color-white);
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-family: 'Bebas Neue', sans-serif;
}

.find-out-more-button:hover,
.view-all-button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

@media (max-width: 768px) {
  .overlay-text h2 {
    font-size: 2rem;
  }
  .overlay-text h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .overlay-text h2 {
    font-size: 3rem;
  }
  .overlay-text h3 {
    font-size: 1.5rem;
  }
}