.home-container {
  position: relative;
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/kha-photo1.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.overlay-text {
  position: relative;
  z-index: 2;
  color: var(--color-white);
  text-align: center;
  max-width: 90%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  transform: translateY(-80%);
}

.overlay-text h1 {
  font-size: 8rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-white);
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
}

.overlay-text h1:hover {
  color: var(--color-primary); 
}

.overlay-text p {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  transition: color 0.3s ease;
}

.overlay-text p:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .overlay-text h1 {
    font-size: 6rem;
  }
  
  .overlay-text p {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .overlay-text h1 {
    font-size: 4rem;
  }
  
  .overlay-text p {
    font-size: 1.8rem;
  }
}
