.home-container-1 {
  position: relative;
  width: 100%;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/kha-photo1.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.overlay-text {
  position: relative;
  z-index: 2;
  color: var(--color-white);
  text-align: center;
  max-width: 90%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  transform: translateY(-60%);
}

@media (min-width: 769px) {
  .overlay-text {
    transform: translateY(-30%);
  }
}

@media (max-width: 480px) {
  .overlay-text {
    transform: translateY(-20%);
  }
}

.overlay-text h1 {
  font-size: 8rem;
  font-weight: 900;
  
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-white);
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
  transition: color 0.3s ease;
}

.overlay-text h1:hover {
  color: var(--color-primary);
}

.overlay-text h2 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Anton', sans-serif; /* Apply Anton font */
  letter-spacing: 1px;
  margin-top: 0.5rem;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.overlay-text h2:hover {
  color: var(--color-primary);
}

.overlay-text h3 {
  font-size: 1.5rem;
  font-family: 'Rye', serif; 
  font-weight: 500;
  margin-top: 1rem;
  color: var(--color-white);
}

.find-out-more-button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 2px solid transparent;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.find-out-more-button:hover {
  border-color: var(--color-black);
  background-color: transparent;
  color: var(--color-white);
}

.home-container-2 {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--color-black);
}

.record-text {
  text-align: center;
}

.record-text h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

.record-text p {
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  color: var(--color-black);
}

.flag-icon {
  width: 80px;
  height: auto;
  margin: 0 8px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .overlay-text h1 {
    font-size: 6rem;
  }

  .overlay-text h2 {
    font-size: 2rem;
  }

  .flag-icon {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .overlay-text h1 {
    font-size: 4rem;
  }

  .overlay-text h2 {
    font-size: 1.8rem;
  }

  .flag-icon {
    width: 40px;
  }
}
