/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

/* Global Styling */
:root {
  /* Font and rendering settings */
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color scheme settings */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* Default color palette */
  --color-primary: #f1ee27;
  --color-secondary: #383737;
  --color-background: #d3d3d3;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #d3d3d3;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--color-black);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif; 
}
